<!-- COMPONENT CALENDAR HTML -->
<div class="w-full hidden xl:inline transition-all duration-100 ease-in-out">
    <!-- TODO DA SISTEMARE PER IL FILTRO EVENTI/NEWS -->
    {{> inputComponent id="date" name="date" type="date" className="rounded-full border border-solid border-gray-300 text-black p-2 outline-none" }}
</div>

<script />