{{#extend "index"}}
{{#content "body"}}

<!-- PAGE DIRECTORY_ALUMNI HTML -->
<div class="relative">
    {{> navbarComponent }}

    {{> modalAlumnoComponent alumno=alumno }}

    <div class="lg:px-20 px-2">
        <section class="flex flex-col justify-center items-center gap-6 py-20">
            <!-- il valore 1200 deve essere la somma degli alumni  -->
            <p class="inline-block text-secondary bg-red-200 border border-primary rounded-full px-6 py-3">
                Più di 1200 Alumni nel mondo</p>
            <p class="text-center font-bold text-4xl loading-10">Directory Alumni</p>
            <p class="text-center font-normal text-2xl text-wrap inline lg:w-6/12 w-full">Scopri la grande community di
                alumni laureati dell'Università di Trento, un network globale in costante crescita.</p>
        </section>

        <section class="flex flex-col gap-6">
            <div class="flex justify-between items-center border-b border-b-black">
                <span class="text-4xl font-bold py-3">
                    Tutti gli alumni
                </span>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5 w-full items-center gap-1">
                <div class="w-full">
                    {{> multiautocompleteComponent className="multiautocomplete-style" classNameElement="multiautocomplete-element" type="search" name=filters.Name.name placeholder="Cerca per nome"
                    items=filters.Name.options }}
                </div>
                <div class="w-full">
                    {{> multiautocompleteComponent className="multiautocomplete-style" classNameElement="multiautocomplete-element" name=filters.Graduated.name placeholder="Titoli di studio"
                    items=filters.Graduated.options }}
                </div>
                <div class="w-full">
                    {{> multiautocompleteComponent className="multiautocomplete-style" classNameElement="multiautocomplete-element" name=filters.Year.name placeholder="Anno di laurea"
                    items=filters.Year.options}}
                </div>
                <div class="w-full">
                    {{> multiautocompleteComponent className="multiautocomplete-style" classNameElement="multiautocomplete-element" type="search" name=filters.Course.name placeholder="Corso di laurea"
                    items=filters.Course.options}}
                </div>
                <div class="w-full">
                    {{> multiautocompleteComponent className="multiautocomplete-style" classNameElement="multiautocomplete-element" type="search" name=filters.Location.name placeholder="Location"
                    items=filters.Location.options}}
                </div>
            </div>
            <div class="flex items-center justify-between">
                <div class="flex items-center gap-4 flex-wrap">
                    <p><span class="text-primary">24</span> risultati</p>
                    <ul class="flex gap-2" id="list-filters">
                        
                    </ul>
                    {{> buttonComponent anchor="true" href="/directory/alumni" className="btn-secondary py-2 px-4
                    text-base" text="Reset filtri"}}
                </div>
                <div class="flex items-center justify-between" <!-- button pagina precedente -->
                    <button disabled class="text-primary disabled:text-gray-300" type="button">
                        <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5'
                            stroke='currentColor' class='w-6 h-6 cursor-pointer'>
                            <path stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5 8.25 12l7.5-7.5' />
                        </svg>
                    </button>
                    <p class="block font-sans text-base antialiased font-normal leading-relaxed">
                        <!-- corrente/totale pagine -->
                        <strong class="text-primary whitespace-nowrap">1/10</strong>
                    </p>
                    <!-- button pagina successiva -->
                    <button class="text-primary disabled:text-gray-300" type="button">
                        <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5'
                            stroke='currentColor' class='w-6 h-6 text-primary cursor-pointer'>
                            <path stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5' />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-8 py-6">
                {{#each alumni as |alumno|}}
                {{> cardAlumnoComponent alumno=alumno }}
                {{/each}}
            </div>
            <!-- PAGINATION -->
            <div class="w-full flex justify-center items-center gap-2">
                <!-- button pagina precedente -->
                <button disabled class="text-primary disabled:text-gray-300" type="button">
                    <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5'
                        stroke='currentColor' class='w-6 h-6 cursor-pointer'>
                        <path stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5 8.25 12l7.5-7.5' />
                    </svg>
                </button>
                <p class="block font-sans text-base antialiased font-normal leading-relaxed">
                    <!-- corrente/totale pagine -->
                    <strong class="text-primary whitespace-nowrap">1/10</strong>
                </p>
                <!-- button pagina successiva -->
                <button class="text-primary disabled:text-gray-300" type="button">
                    <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5'
                        stroke='currentColor' class='w-6 h-6 text-primary cursor-pointer'>
                        <path stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5' />
                    </svg>
                </button>
            </div>
        </section>
    </div>
</div>

<script />
{{/content}}
{{/extend}}