{{#extend "index"}}
  {{#content "body"}}

    <!-- PAGE PAGE404 HTML -->
    <div class="page404-container">
      <h1 class="page404-text">404</h1>
      <p class="page404-text mb-5">Page not found!</p>
      <button class="btn btn-secondary" onclick="goback()">Go back</button>
    </div>

    <script />
  {{/content}}
{{/extend}}